#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define QWERT 1
#define GAME 2
#define LOWER 3
#define RAISE 4
#define SUPER 5
#define GAMER 6

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        super_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <SUPER>;
        };
    };

    behaviors {
        rgb_encoder: rgb_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------
            // |   Q   |   W   |   F   |   P   |   B   |     |  J   |  L   |   U   |  Y   | APOS  |
            // |   A   |   R   |   S   |   T   |   G   |     |  K   |  N   |   E   |  I   |   O   |
            // |   Z   |   X   |   C   |   D   |   V   |     |  M   |  H   | COMMA | DOT  | FSLH  |
            //         | LSHFT | SPACE |       | MUTE  |     | C_PP |      |  RET  | BSPC |
            // | LOWER | LCTRL | LALT  |                                   |  DEL  | LGUI | RAISE |

            bindings = <
                &kp Q      &kp W      &kp F       &kp P    &kp B            &kp J       &kp L    &kp U       &kp Y      &kp APOS
                &kp A      &kp R      &kp S       &kp T    &kp G            &kp K       &kp N    &kp E       &kp I      &kp O
                &kp Z      &kp X      &kp C       &kp D    &kp V            &kp M       &kp H    &kp COMMA   &kp DOT    &kp FSLH
                           &kp LSHFT  &kp SPACE            &kp C_MUTE       &kp C_PP             &kp RET     &kp BSPC
                &mo LOWER  &kp LCTRL  &kp LALT                                                   &kp DEL     &kp LGUI   &mo RAISE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        qwert_layer {
            // ---------------------------------------------------------------------------------
            // |   Q   |   W   |   E   |  R  |   T   |     |   Y   |  U  |   I   |   O   |   P   |
            // |   A   |   S   |   D   |  F  |   G   |     |   H   |  J  |   K   |   L   |   ;   |
            // |   Z   |   X   |   C   |  V  |   B   |     |   N   |  M  | COMMA |  DOT  | FSLH  |
            //         | trans | trans |     | trans |     | trans |     | trans | trans |
            // | LOWER | trans | trans |                                 | trans | trans | RAISE |

            bindings = <
                &kp Q      &kp W      &kp E      &kp R       &kp T                &kp Y      &kp U    &kp I      &kp O     &kp P
                &kp A      &kp S      &kp D      &kp F       &kp G                &kp H      &kp J    &kp K      &kp L     &kp SEMI
                &kp Z      &kp X      &kp C      &kp V       &kp B                &kp N      &kp M    &kp COMMA  &kp DOT   &kp FSLH
                           &trans     &trans                 &trans               &trans              &trans     &trans
                &mo LOWER  &trans     &trans                                                          &trans     &trans    &mo RAISE
            >;
        };

        game_layer {
            // RIGHT HALF NOT USED
            // ---------------------------------------------------------------------------------
            // |   T   |   Q   |   W   |  E  |   R   |     | none  | none | none  | none  | DEF  |
            // |   G   |   A   |   S   |  D  |   F   |     | none  | none | none  | none  | none |
            // |   B   |   Z   |   X   |  C  |   V   |     | none  | none | none  | none  | none |
            //         | trans | trans |     | trans |     | trans |      | trans | trans |
            // | GAMER | trans | trans |                                  | trans | trans | none |

            bindings = <
                &kp T      &kp Q     &kp W     &kp E    &kp R         &none    &none   &none      &none     &to BASE
                &kp G      &kp A     &kp S     &kp D    &kp F         &none    &none   &none      &none     &none
                &kp B      &kp Z     &kp X     &kp C    &kp V         &none    &none   &none      &none     &none
                           &trans    &trans             &trans        &trans           &trans     &trans
                &mo GAMER  &trans    &trans                                            &trans     &trans    &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            // ---------------------------------------------------------------------------------
            // |  ESC  | none  | none  |  LBKT  | RBKT  |    |  EQUAL  |  N7  |  N8   |  N9   |  *    |
            // | GRAVE | none  | none  |  BSLH  | SEMI  |    |  MINUS  |  N4  |  N5   |  N6   |  +    |
            // |  TAB  | none  | none  |  none  | none  |    |  N0     |  N1  |  N2   |  N3   |  /    |
            // |       | trans | trans |        | trans |    | trans   |      | trans | trans |       |
            // | trans | trans | trans |                                      | trans | trans | trans |

            bindings = <
                &kp ESC    &none    &none    &kp LBKT   &kp RBKT             &kp EQUAL     &kp N7   &kp N8      &kp N9     &kp STAR
                &kp GRAVE  &none    &none    &kp BSLH   &kp SEMI             &kp MINUS     &kp N4   &kp N5      &kp N6     &kp PLUS
                &kp TAB    &none    &none    &none      &none                &kp N0        &kp N1   &kp N2      &kp N3     &kp FSLH
                           &trans   &trans              &trans               &trans                 &trans      &trans
                &trans     &trans   &trans                                                          &trans      &trans     &trans
            >;
        };

        raise_layer {
            // ---------------------------------------------------------------------------------
            // |  ESC  | none  |  UP   | none  | none  |     |  F1   | F2  |  F3   |  F4   |  F5   |
            // | GRAVE | LEFT  | DOWN  | RIGHT | none  |     |  F6   | F7  |  F8   |  F9   | F10   |
            // |  TAB  | none  | none  | none  | none  |     |  F11  | F12 | PG_UP | PG_DN | none  |
            // |       | trans | trans |       | trans |     | trans |     | trans | trans |       |
            // | trans | trans | trans |                                   | trans | trans | trans |

            bindings = <
                &kp ESC    &none      &kp UP     &none       &none          &kp F1    &kp F2    &kp F3     &kp F4     &kp F5
                &kp GRAVE  &kp LEFT   &kp DOWN   &kp RIGHT   &none          &kp F6    &kp F7    &kp F8     &kp F9     &kp F10
                &kp TAB    &none      &none      &none       &none          &kp F11   &kp F12   &kp PG_UP  &kp PG_DN  &none
                           &trans     &trans                 &trans         &trans              &trans     &trans
                &trans     &trans     &trans                                                    &trans     &trans     &trans
            >;
        };

        super_layer {
            // ---------------------------------------------------------------------------------
            // | DEF   | RGB_ON | RGB_OFF | RGB_EFF | RGB_EFR |     |  &none  | BT_NXT  | BT_PREV |  &none  | BT_CLR  |
            // | GAME  | &none  |  &none  | RGB_SPI | RGB_SPD |     | BT_SEL1 | BT_SEL2 | BT_SEL3 | BT_SEL4 | BT_SEL5 |
            // | QWERT | &none  |  &none  | RGB_BRI | RGB_BRD |     |  &none  |  &none  |  &none  |  &none  | studio_unlock |
            // |       | trans  |  trans  |         |  trans  |     |  trans  |         |  trans  |  trans  | none |
            // | none  | trans  |  trans  |                                             |  trans  |  trans  | none |

            bindings = <
                &to BASE    &rgb_ug RGB_ON  &rgb_ug RGB_OFF  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR          &none          &bt BT_NXT     &bt BT_PRV     &kp &none      &bt BT_CLR
                &to GAME    &none           &none            &rgb_ug RGB_SPI  &rgb_ug RGB_SPD          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
                &to QWERT   &none           &none            &rgb_ug RGB_BRI  &rgb_ug RGB_BRD          &none          &none          &none          &none          &studio_unlock
                            &trans          &trans                            &trans                   &trans                        &trans         &trans
                &none       &trans          &trans                                                                                   &trans         &trans         &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        gamer_layer {
            // RIGHT HALF NOT USED
            // ---------------------------------------------------------------------------------
            // |  ESC  |  N1   |  N2   |  N3  | none  |     | none  | none | none  | none  | none |
            // | GRAVE |  N4   |  N5   |  N6  | none  |     | none  | none | none  | none  | none |
            // |  TAB  |  N7   |  N8   |  N9  | none  |     | none  | none | none  | none  | none |
            // |       | trans | trans |      | trans |     | trans |      | trans | trans |      |
            // | none  | trans | trans |                                   | trans | trans | none |

            bindings = <
                &kp ESC     &kp N1     &kp N2      &kp N3      &kp B                &kp J      &kp L   &kp U      &kp Y     &kp APOS
                &kp GRAVE   &kp N4     &kp N5      &kp N6      &kp G                &kp K      &kp N   &kp E      &kp I     &kp O
                &kp TAB     &kp N7     &kp N8      &kp N9      &kp V                &kp M      &kp H   &kp COMMA  &kp DOT   &kp FSLH
                            &trans     &trans                  &trans               &trans             &trans     &trans
                &none       &trans     &trans                                                          &trans     &trans    &none
            >;
        };
    };
};
