if SHIELD_BADWINGS_LEFT

config ZMK_KEYBOARD_NAME
    default "BadWings"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BADWINGS_LEFT || SHIELD_BADWINGS_RIGHT

config ZMK_SPLIT
    default y

endif
