#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LOWER 1
#define RAISE 2
#define SUPER 3
//#define QWERT 4
//#define GAME 5
//#define GAMER 6

// KEY REF
// |  PINKY_TOP   |  RING_TOP      |  MIDDLE_TOP   |  INDEX_TOP     |  INNER_TOP    |     |  INNER_TOP    |  INDEX_TOP     |  MIDDLE_TOP   |  RING_TOP      |  PINKY_TOP   |
// |  PINKY_HOME  |  RING_HOME     |  MIDDLE_HOME  |  INDEX_HOME    |  INNER_HOME   |     |  INNER_HOME   |  INDEX_HOME    |  MIDDLE_HOME  |  RING_HOME     |  PINKY_HOME  |
// |  PINKY_BOT   |  RING_BOT      |  MIDDLE_BOT   |  INDEX_BOT     |  INNER_BOT    |     |  INNER_BOT    |  INDEX_BOT     |  MIDDLE_BOT   |  RING_BOT      |  PINKY_BOT   |
// | TBS_LEFT_BOT | TBS_CENTER_BOT | TBS_RIGHT_BOT | TBS_CENTER_TOP | TBS_RIGHT_TOP |     | TBS_RIGHT_TOP | TBS_CENTER_TOP | TBS_RIGHT_BOT | TBS_CENTER_BOT | TBS_LEFT_BOT |

/ {
    // Activate SUPER layer by pressing LOWER and RAISE
    conditional_layers {
        compatible = "zmk,conditional_layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <SUPER>;
        };
    };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            // ---------------------------------------------------------------------------------
            // |   Q   |   W   |   F   |   P   |   B   |     |  J   |  L   |   U   |  Y   | APOS  |
            // |   A   |   R   |   S   |   T   |   G   |     |  K   |  N   |   E   |  I   |   O   |
            // |   Z   |   X   |   C   |   D   |   V   |     |  M   |  H   | COMMA | DOT  | FSLH  |
            //         | LSHFT | SPACE |       | MUTE  |     | C_PP |      |  RET  | BSPC |
            // | RAISE | LCTRL | LALT  |                                   |  DEL  | LGUI | LOWER |
            bindings = <
                &kp Q      &kp W      &kp F       &kp P    &kp B            &kp J    &kp L    &kp U       &kp Y      &kp APOS
                &kp A      &kp R      &kp S       &kp T    &kp G            &kp K    &kp N    &kp E       &kp I      &kp O
                &kp Z      &kp X      &kp C       &kp D    &kp V            &kp M    &kp H    &kp COMMA   &kp DOT    &kp FSLH
                           &kp LSHFT  &kp SPACE            &kt MUTE         &C_PP             &kp RET     &kp BSPC
                &mo RAISE  &kp LCTRL  &kp LALT                                                &kp DEL     &kp LGUI   &mo LOWER
            >;
        };

        raise { // Layer 1
            display-name = "UP";
            // ---------------------------------------------------------------------------------
            // |  ESC  | none  | none  |  LBKT  | RBKT  |    |  EQUAL  |  N7  |  N8   |  N9   |  *   |
            // | GRAVE | none  | none  |  BSLH  | SEMI  |    |  MINUS  |  N4  |  N5   |  N6   |  +   |
            // |  TAB  | none  | none  |  none  | none  |    |  N0     |  N1  |  N2   |  N3   |  /   |
            // |       | trans | trans |        | trans |    | trans   |      | trans | trans |      |
            // | none  | trans | trans |                                      | trans | trans | none |
            bindings = <
                &kp ESC    &none    &none    &kp LBKT   &kp RBKT             &kp EQUAL     &kp N7   &kp N8      &kp N9     &kp *
                &kp GRAVE  &none    &none    &kp BSLH   &kp SEMI             &kp MINUS     &kp N4   &kp N5      &kp N6     &kp +
                &kp TAB    &none    &none    &none      &none                &kp N0        &kp N1   &kp N2      &kp N3     &kp /
                           &trans   &trans              &trans               &trans                 &trans      &trans
                &none      &trans   &trans                                                          &trans      &trans     &none
            >;
        };

        lower { // Layer 2
            display-name = "DOWN";
            // ---------------------------------------------------------------------------------
            // |  ESC  | none  |  UP   | none  | none  |     |  F1   | F2  |  F3   |  F4   |  F5  |
            // | GRAVE | LEFT  | DOWN  | RIGHT | none  |     |  F6   | F7  |  F8   | F9   | F10  |
            // |  TAB  | none  | none  | none  | none  |     |  F11  | F12 | PG_UP | PG_DN | none |
            // |       | trans | trans |       | trans |     | trans |     | trans | trans |      |
            // | none  | trans | trans |                                   | trans | trans | none |
            bindings = <
                &kp ESC    &none      &kp UP     &none       &none          &kp F1    &kp F2    &kp F3     &kp F4     &kp F5
                &kp GRAVE  &kp LEFT   &kp DOWN   &kp RIGHT   &none          &kp F6    &kp F7    &kp F8     &kp F9     &kp F10
                &kp TAB    &none      &none      &none       &none          &kp F11   &kp F12   &kp PG_UP  &kp PG_DN  &none
                           &trans     &trans                 &trans         &trans              &trans     &trans
                &none      &trans     &trans                                                    &trans     &trans     &none
            >;
        };

        super { // Layer 3
            display-name = "SUPER";
            // ---------------------------------------------------------------------------------
            // | DEF   | RGB_ON | RGB_OFF | RGB_EFF | RGB_EFR |     |  &none  | BT_NXT  | BT_PREV |  &none  | BT_CLR  |
            // | GAME  | &none  |  &none  | RGB_SPI | RGB_SPD |     | BT_SEL1 | BT_SEL2 | BT_SEL3 | BT_SEL4 | BT_SEL5 |
            // | QWERT | LANG1  |  LANG2  | RGB_BRI | RGB_BRD |     |   none  |   none  |   none  |  &none  | studio_unlock |
            // |       | trans  |  trans  |         |  trans  |     |  trans  |         |  trans  |  trans  | none |
            // | none  | trans  |  trans  |                                             |  trans  |  trans  | none |
            bindings = <
                &tog DEF    &kp RGB_ON  &kp RGB_OFF  &kp RGB_EFF  &kp RGB_EFR          &none         &kp BT_NXT     &kp BT_PREV    &kp Y         &kp BT_CLR
                &tog GAME   &none       &none        &kp RGB_SPI  &kp RGB_SPD          &kp BT_SEL1   &kp BT_SEL2    &kp BT_SEL3    &kp BT_SEL4   &kp BT_SEL5
                &tog QWERT  &kp LANG1   &kp LANG2    &kp RGB_BRI  &kp RGB_BRD          &none         &none          &kp PG_UP      &kp PG_DN     &studio_unlock
                            &trans      &trans                    &trans               &trans                       &trans         &trans
                &none       &trans      &trans                                                                      &trans         &trans        &none
            >;
        };
    };
};
